<!DOCTYPE html>
<html lang="en">
<link href="/stylesheets/bootstrap-cosmo.css" rel="stylesheet">
<link href="/stylesheets/font-awesome.css" rel="stylesheet">
<link href="/stylesheets/mystyle.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Schoolbell' rel='stylesheet' type='text/css'>
<script src="http://maps.googleapis.com/maps/api/js"></script>


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>projectNGO.com</title>
</head>


<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

	<% include /partials/header %>

</nav>


<body>

<div class="container">
    <section class="canvas">
      <div id="map-canvas"></div>
    </section>
</div>



</section>
</div>
<div class="container searchcont" >
<section>
<h2 > Find NGO's near you ... </h2> </div>
<div class="container">
<form class="form-inline " role="form" action="" method="POST" target="_self">

<div class="btn-group">
	<button type="button" class="btn btn-default btn_city" id="btn-locality" name="city"> Hyderabad </button>
</div>

<div class="form-group">
	<input type="text" name="locality" id="input-search" class="form-control " placeholder="Locality" list="suggestions"/>
	<datalist id="suggestions">
			<option value="All"><option value="Abids"><option value="Dilsukhnagar"><option value="Punjagutta"><option value="Domalguda"><option value="Moosarambagh"><option value="Ramanthapur"><option value="Himayatnagar"><option value="Banjara Hills"><option value="Jubilee Hills"><option value="Gachibowli">
	</datalist>
</div>

<!-- <div class="form-group">
	<input type="text" name="interest" id="input-search" class="form-control " placeholder="Area of Interest"/>
</div> -->

<div class="form-group">
	<button type="submit" href="" id="searchsubmit" value="Search" class="btn btn-md btn-default btn-block searchbutton"><a style="text-decoration:none;color:white;">Search&nbsp;&nbsp;&nbsp;<i class="fa fa-search fa-lg"></i></a></button>
</div>

</form>

</div>
</section>
</div>


<div class="searchres container">
<hr>
<% for (var i = 0; i < list.length; i++) { %>
<div class="row">
	<div class="col-md-9 col-md-offset-1">
	<a href="#" style="text-decoration:none"><h2><%= list[i].title  %></h2></a>
	<p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;<%= list[i].address %>
	<a href="#" style="text-decoration:none">&nbsp;&nbsp;<nobr>- Show on map</nobr></a></p>
	<p><%= list[i].description %><br></p>
	<p><span style="font-size:20px;">Contact :</span> <%= list[i].contact  %> </p>
	<div id="latlan" style="visibility: hidden;">
		<%= list[i].lat  %> <%= list[i].lan  %>
	</div>
	</div>
</div>
<% } %>
</div>


<footer class="footer">

	<% include /partials/footer %>

</footer>


<script>
	window.onload=function()
  {
    var mapOptions = {
      zoom: 10,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      center: new google.maps.LatLng(17.20, 78.30)
    };

		var ngolist = <%-JSON.stringify(list)%>;
		//console.log(ngolist);
		var ngotitles = {};
		var ngoaddresses = {};
		for (var i = 0; i < ngolist.length; i++) {
			ngotitles[i] = ngolist[i].title;
			ngoaddresses[i] = ngolist[i].address;
		}

    map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);
    var bounds = new google.maps.LatLngBounds();
    var places =[];

			for( i=0 ; i < ngolist.length ; i++ ){
					var latitude = JSON.parse(ngolist[i].lat);
					var longitude = JSON.parse(ngolist[i].lan);
					//console.log(latitude,longitude);
				  places.push(new google.maps.LatLng(latitude, longitude));
			}

      for( i = 0 ; i < places.length ; i++)
      {
        var marker = new google.maps.Marker({position:places[i],map: map,title:ngotitles[i],clickable: true});

				marker.info = new google.maps.InfoWindow({
					content: '<b style="font-size:20px;">' + ngotitles[i] + '</b><br><span style="font-size:15px;">' + ngoaddresses[i] + '</span><br>'
				});

        bounds.extend(places[i]);

				google.maps.event.addListener(marker, 'click', function() {
					this.info.open(map, marker);
				});
      }



      map.fitBounds(bounds);

  }

</script>

</body>

</html>
